<div class="text-center">
  <h1>まだ会員登録されていないお客様</h1>
</div>

<div class="row" >
  <div class="col-sm-6 offset-sm-3">

    <%= form_with(model: @customer, local: true) do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
      
      <div class="form-group" >
        <%= f.label :family_name, 'お名前' %><span class="badge badge-danger">必須</span>
        <%= f.text_field :family_name, class: 'form-control',placeholder: "例：山田",style: "background-color: #F2F2F2" %>
        <%= f.text_field :given_name, class: 'form-control',placeholder: "例：太郎",style: "background-color: #F2F2F2"  %>
      </div>
      
    


      <div class="form-group">
        <%= f.label :email, 'Email' %><span class="badge badge-danger",placeholder: "例：mail@dacchi.co.jp",style: "background-color: #F2F2F2" >必須</span>
        <%= f.email_field :email, placeholder: "例：mail@dacchi.co.jp",class: 'form-control',style: "background-color: #F2F2F2"  %>
      </div>

      <div class="form-group">
        <%= f.label :password, 'パスワード' %><span class="badge badge-danger",placeholder:"入力してください",style: "background-color: #F2F2F2" >必須</span>
        <%= f.password_field :password,placeholder: "入力してください", class: 'form-control',style: "background-color: #F2F2F2"  %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, 'パスワード確認' %><span class="badge badge-danger",placeholder: "入力してください",style: "background-color: #F2F2F2" >必須</span>
        <%= f.password_field :password_confirmation,placeholder: "入力してください", class: 'form-control',style: "background-color: #F2F2F2"  %>
      </div>
      
     
　　　<div  style=" text-align:center"> 
      <%= f.submit '            保存する⇒         ',  :class=>"btn"%>
      </div>
    <% end %>
  </div>
</div>

