<div class="row">
  <%= image_tag "/ecsite.PNG", size: '1440x1040', :alt => 'Flower Photo'%>
</div>

<div style="margin-left:300px;">
 <%= image_tag "/ecsite2.PNG",  size: '740x740', :alt => 'Flower Photo'%>
</div>

<h1 style="text-align:center;">RANKING</h1>

<ul  style="width: 1000px; overflow: hidden; list-style-type: none; text-align:center;" >
        <li class="img_wrap" style="display: inline;" ><%= link_to image_tag("/pen.PNG", size: '230x230', :alt => 'Flower Photo'), @product1 %></li>
        <li class="img_wrap" style="display: inline;"><%= link_to image_tag("/clock.PNG",size: '230x230', :alt => 'Flower Photo'), @product2 %></li>
        <li class="img_wrap"  style="display: inline;"><%= link_to image_tag("/tennis%20ball.PNG",size: '230x230', :alt => 'Flower Photo'), @product3 %></li>
        <li class="img_wrap"  style="display: inline;"><%= link_to image_tag("/shoes.PNG", size: '230x230', :alt => 'Flower Photo'), @product4 %></li>
</ul>
    


