<div class="row">
  <%= image_tag "/ecsite.PNG", width: '124%', height: '124%'%>
</div>

<div style="margin-left:300px;">
 <%= image_tag "/ecsite2.PNG", width: '74%', height: '74%'%>
</div>

<h1 style="text-align:center;">RANKING</h1>

<ul  style="width: 1000px; overflow: hidden; list-style-type: none; text-align:center;" >
        <li class="img_wrap" style="display: inline;" ><a  href="/products/1" > <%= image_tag "/pen.PNG", width: '24%', height: '24%'%></a></li>
        <li class="img_wrap" style="display: inline;"><a  href="/products/2"><%= image_tag "/clock.PNG", width: '24%', height: '24%'%></a></li>
        <li class="img_wrap"  style="display: inline;"><a  href="/products/3"><%= image_tag "/tennis ball.PNG", width: '24%', height: '24%'%></a></li>
        <li class="img_wrap"  style="display: inline;"><a  href="/products/4"><%= image_tag "/shoes.PNG", width: '24%', height: '24%'%></a></li>
</ul>
    


