<div class="row">
  <%= image_tag "/ecsite.PNG", width: '124%', height: '124%'%>
</div>

<div style="margin-left:300px;">
 <%= image_tag "/ecsite2.PNG", width: '74%', height: '74%'%>
</div>

<h1 style="text-align:center;">RANKING</h1>

<ul  style="width: 1000px; overflow: hidden; list-style-type: none; text-align:center;" >
        <li class="img_wrap" style="display: inline;" ><%= link_to image_tag("/pen.PNG", width: '230',height:'230'), @product1 %></li>
        <li class="img_wrap" style="display: inline;"><%= link_to image_tag("/clock.PNG", width: '230',height:'230'), @product2 %></li>
        <li class="img_wrap"  style="display: inline;"><%= link_to image_tag("/tennis ball.PNG", width: '230',height:'230'), @product3 %></li>
        <li class="img_wrap"  style="display: inline;"><%= link_to image_tag("/shoes.PNG", width: '230',height:'230'), @product4 %></li>
</ul>
    


