<div class='container'>
    <div class ='header-cart'>
        <h1 class='text-center mb-50'>カートの中身</h1>
    </div>
    <ul class='list-group'>
        <% @product.each do |product| %>
        <li class='list-group-product d-flex justify-content-between border p-3'>
        <p><%= product.product_name %></p>
        <!--<%= image_tag '/product.image' %>-->
        <span><%= product.price %>円 <%= link_to '×',product_delete_in_carts_path(product), method: :post, data: {confirm: '削除してもいいですか？'} %></span>
        </li>
        <% end %>
    </ul>
    
    <p>合計金額 <%=@total_price%> 円</p>
    <%= link_to '買い物を続ける', '/products', class: 'btn btn-light' %>
    
    <%= form_tag charge_path do %>
    
       <% @product.each do |p| %>
       <%= hidden_field_tag 'product_ids[]',p.id %>
       <%end%>
       
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key=<%=ENV['STRIPE_API_KEY']%>
            data-description="payment"
            data-amount=<%=@total_price%>
            
            data-currency="jpy"
            data-locale="auto"></script>
    <% end %>
    
</div>

