<%= image_tag "/ecsite5.PNG" %>

<div style="text-align:center;">

    <div  style="float:left;"> 
       <h2>ペン</h2>
       <p><%= link_to image_tag("/pen2.PNG", width: '420',height:'420'), @product1 %></p>
       <p><%= link_to "view more",@product1 %></p>
    </div>
    
    <div> 
       <h2>時計</h2>
       <p><%= link_to image_tag("/clock2.PNG", width: '420',height:'420'), @product2 %></p>
       <p><%= link_to "view more",@product2 %></p>
    </div>
    
    <div  style="float:left;">
       <h2>テニスボール</h2> 
       <p><%= link_to image_tag("/tennis ball2.PNG", width: '420',height:'420'), @product3 %></p>
       <p><%= link_to "view more",@product3 %></p>

    </div>
    
    <div>
       <h2>靴</h2> 
       <p><%= link_to image_tag("/shoes2.PNG", width: '420',height:'420'), @product4 %></p>
       <p><%= link_to "view more",@product4 %></p>
    </div>

</div>
