<%= image_tag "/ecsite5.PNG" %>

<div style="text-align:center;">

    <div  style="float:left;"> 
       <h2>ペン</h2>
       <p><a  href="/products/1"> <img src="/<%=@product1.image%>" alt="DACCHI HOME"  width="420px" height="420px"></a></p>
       <p><a  href="/products/1">view more</a></p>
    </div>
    
    <div> 
       <h2>時計</h2>
       <p><a  href="/products/2"> <img src="/<%=@product2.image%>" alt="DACCHI HOME"  width="420px" height="420px"></a></p>
       <p><a  href="/products/2">view more</a></p>
    </div>
    
    <div  style="float:left;">
       <h2>テニスボール</h2> 
       <p><a  href="/products/3"> <img src="/<%=@product3.image%>" alt="DACCHI HOME"  width="420px" height="420px"></a></p>
       <p><a  href="/products/3">view more</a></p>

    </div>
    
    <div>
       <h2>靴</h2> 
       <p><a  href="/products/4"> <img src="/<%=@product4.image%>" alt="DACCHI HOME"  width="420px" height="420px"></a></p>
       <p><a  href="/products/4">view more</a></p>
    </div>

</div>
