<%= image_tag "/ecsite6.PNG", :alt => 'Flower Photo',class: "img-fluid" %>

<div style="text-align:center; margin-left: 110px">

    <div  style="float:left; text-align:center"> 
       <h2>ペン</h2>
       <p><%= link_to image_tag("/pen2.PNG", width: '420',height:'420', :alt => 'Flower Photo'), @product1 %></p>
       <p><%=@product1.price%>円</p>
       <p><%= link_to "もっとよくみてみる",@product1 %></p>
    </div>
    
    <div> 
       <h2>時計</h2>
       <p><%= link_to image_tag("/clock2.PNG", width: '420',height:'420', :alt => 'Flower Photo'), @product2 %></p>
       <p><%=@product2.price%>円</p>
       <p><%= link_to "もっとよくみてみる",@product2 %></p>
    </div>
    
    <div  style="float:left;">
       <h2>テニスボール</h2> 
       <p><%= link_to image_tag("/tennis%20ball2.PNG", width: '420',height:'420', :alt => 'Flower Photo'), @product3 %></p>
       <p><%=@product3.price%>円</p>
       <p><%= link_to "もっとよくみてみる",@product3 %></p>

    </div>
    
    <div>
       <h2>靴</h2> 
       <p><%= link_to image_tag("/shoes2.PNG", width: '420',height:'420', :alt => 'Flower Photo'), @product4 %></p>
       <p><%=@product4.price%>円</p>
       <p><%= link_to "もっとよくみてみる",@product4 %></p>
    </div>

</div>
