<h1><%= @product.product_name %></h1>
<p><%= @product.comment %></p>


    
<img src="/<%=@product.image%>">
<p>￥<%= @product.price %>円</p>

<%= link_to '購入する', product_add_to_carts_path(@product), method: :post , class: 'btn btn-light' %>
